* {
    font-family: "Poppins", sans-serif;
  }
  
  body {
    position: relative;
    background: #143f3f;
    background: url(./assets/Background.jpg);
    background-position: top;
    background-size: 100vw 170vh;
    background-repeat: no-repeat;
  }
  
  .App {
    position: relative;
    display: flex;
    flex-direction: column;
  }