.content{
  max-width: 700px;
  width: 700%;
  height:100%;
  margin: 50px auto;
  background: rgba(74, 85, 87, 0.575);
  border-radius: 15px;
  padding: 30px 20px 15px;
  text-align: left;
  padding: 50px;

}
.error {
  color: rgb(255, 0, 0);
  opacity: 0.8;
  margin-bottom: 4px;
}

h2 {
  color: white;
  font-size: 6vw;
  text-shadow: 0.5vw 0 #011b1b;
}
 h3 {
   color:aqua;
 }
.btn-container {
 border: 3px;
background-color:black;
text-decoration: none;
}
.btn-btn-secondary {
  background-color:#5c7969;
}
.btn-btn-secondary a {
  color:black;
  font-family: cursive;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: none;
  

}

.json {
  white-space: break-spaces;
  font-family: monospace;
}
